<header>
    <nav>
        <a href="/">PlanitTour</a>
        <ul>
            <a href="/authors">Performers</a>        
        </ul>
        <ul>
            <a href="/authors/new">New Performer</a>
    
    </nav>
</header>